/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
  color: #000;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;

  .about-container {
    background: url(../img/about-img.jpg) left top no-repeat;
  }
  
  }
  .about-content {
    background: #fff;
  }
  
  .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
  }

  .about-text {
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }

  

/* Services Section
--------------------------------*/
